.center {
	text-align: center;
}
.parent {
	position: relative;
	top: 25;
	text-align: center;
}
.child {
	position: absolute;
	top: 10;
	left: 350;
}

#board {
	background-image: url("pics/chessboard.png");
	z-index: 0;
}

.front {
	z-index: 5;
}

.translucent {
	opacity: .5;
}

#whqueeningIcons {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	visibility: hidden;
}

#blqueeningIcons {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	visibility: hidden;
}

.iconqueen {
	position: absolute;
	margin-left: -210px;
	border-width: -5px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.iconknight {
	position: absolute;
	margin-left: -105px;
	border-width: -5px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.iconbishop {
	position: absolute;
	margin-left: 0px;
	border-width: -5px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.iconrook {
	position: absolute;
	margin-left: 105px;
	border-width: -5px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.messageHolder {
	position: relative;
	width: 340px;
	margin: auto;
}

.matingMessages {
	position: absolute;
	visibility: hidden;
	display: block;
	margin: auto;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

